.nav {

	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	background-color: white;
	border-radius: 0 0 20px 0;

	&__link {

		padding: 15px 20px;
		text-decoration: none;
		color: black;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

		&.active {

			background: black;
			color: white;

		}

	}

}